html, body{
	height:100%;
}

.form-user{
	width:60%;
	height:40%;
	margin:auto;
	margin-top:auto;
}

.errorMessage{
	color:red;
	font-weight: bold;
}

.verticalCenter{
	vertical-align: middle;
}

.enableScroll{
	overflow-x:scroll;
	overflow-y:scroll;
}
